<div class="container">
  <h1>Stajnia</h1>
  <div class="label__container">
    <h2>Wpisz login i hasło:</h2>
  </div>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input #nameInput matInput placeholder="Login" value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input #password type="password" matInput placeholder="Hasło">
    </mat-form-field>

  <div class="remember__container">
    <h3>Zapisz nazwę użytkownika</h3>
    <mat-slide-toggle color="primary"></mat-slide-toggle>
  </div>
  <div class="login-label">
    <h5><a routerLink="/registration" style="color: #2A78E4" href="#">Zarejestruj się</a></h5>
  </div>
  <button (click)="onSubmit(nameInput.value, password.value)" mat-raised-button color="primary">Zaloguj</button>
  </form>
</div>
