.body-area {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding: 0 16px;
}

h2.left {
  text-align: center;
}

.button-space {
  margin-left: 10px;
}

.save-button-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.save-button {
  width: 200px;
}
