.body-area {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  padding: 0 16px;
}

h2.left {
  text-align: center;
}

.button-space {
  margin-left: 10px;
}

.save-button-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.save-button {
  width: 200px;
}


.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #155724;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #f0fff3;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}
